<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xml:lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="layout.xhtml">
    <ui:define name="content">
    
        <h:form id="downloadForm">
            <p:panel header="Select account to archive messages">
                <h:panelGrid columns="1">
                    <p:selectOneMenu value="#{downloadController.account}"
                    				 converter="accountConverter">
                    	<f:selectItems value="#{downloadBean.accounts}" 
                    				   var="account"
                    				   itemLabel="#{account.username}" 
                    				   itemValue="#{account}"/>
                    </p:selectOneMenu>                   
                    <h:commandButton value="Get Folders" action="#{downloadController.downloadMessagesForAccount}"/>
                </h:panelGrid>
            </p:panel>
        </h:form>
        
    	<p:dataTable var="folder" value="#{downloadController.folders}">
    		<p:column headerText="Name">
    			<h:outputText value="#{folder.name}" />
    		</p:column>
    		<p:column headerText="MessageCount">
    			<h:outputText value="#{folder.messageCount}"/>
    		</p:column>
    	</p:dataTable>
       
    </ui:define>
</ui:composition>
</html>