<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<f:view>
    	<h:head>
	        <meta charset="utf-8" />
	        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	        <meta name="viewport" content="width=device-width, initial-scale=1" />
	        <title>Shibatek Archiver</title>
    	</h:head>

    	<h:body>
	        <div class="ui-g">
	            <div class="ui-g-12">
	                <p:toolbar>
	                    <f:facet name="left">
	                    	<p:button href="/accounts" value="Accounts" />
	                        <p:button href="/download" value="Download" />
	                        <p:button href="/" value="Queue" />
	                        <p:button href="/" value="Completed" />
	                    </f:facet>
	                </p:toolbar>
	            </div>
	
	            <div class="ui-g-12">
	                <ui:insert name="content" />
	            </div>
	        </div>
    	</h:body>

	</f:view>

</html>